
   
<%- include('../partials/header') %>

    <table id="list">
        <thead>
            <tr>
                <title>FLIGHTS</title>
                <h2>All Flights</h2>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight No</th>
                <th>Departs</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(function(flight) { %>
            <tr>
               <td><%= flight.airline %></td>
               <td><%= flight.airport %></td>
               <td><%= flight.flightNumber %></td>
               <td><%= flight.departs %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>




    </section>
    


</head>
<body>
    
</body>
</html>